<div class="fitness-logo d-flex justify-content-center">
      <a href="/perf_ins"><img style="width: 200px;" src="/images/logo-colors.png"></a>
    </div>
    <div class="d-flex justify-content-center">
      <p class="login-title">ADICIONAR AULA</p>
    </div>
    <div class="d-flex justify-content-center p-2 ">
      <div class="card-cstyle">
        <div class="card card-body card-cstyle" >
          <form action="/video" method="POST">
            <div class="form-outline mb-4">
              <label class="form-label label-cstyle" for="titulo">Título</label>
              <input type="text" id="titulo" class="form-control" name="titulo" />
            </div>
            <div class="form-outline mb-4 ">
              <label class="form-label label-cstyle" for="desc">Descrição</label>
              <input type="text" id="desc" class="form-control" name="desc"/>
            </div>
            <div class="form-outline mb-4">
              <label class="form-label label-cstyle" for="val">Valor</label>
              <input type="text" id="val" class="form-control" name="val"/>
            </div>
            <div class="text-center"><button type="submit" class="btn btn-primary btn-block mb-4 button-cstyle">Cadastrar</button></div>
          </form>
        </div>
      </div>
    </div>