<div class="fitness-logo d-flex justify-content-center">
      <a href="/login"><img style="width: 200px;" src="/images/logo-colors.png"></a>
    </div>
    <div class="d-flex justify-content-center">
      <p class="login-title">CRIAR CONTA</p>
    </div>
    
    <div class="d-flex justify-content-center p-2">
      <p>
        <button class="btn btn-primary button-cstyle" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Inscrever-se como instrutor
        </button>
        <button class="btn btn-primary button-cstyle" type="button" data-toggle="collapse" data-target="#collapsealuno" aria-expanded="false" aria-controls="collapsealuno">
          Inscrever-se como aluno
        </button>
      </p>
    </div>
    <div class="d-flex justify-content-center">
      <div class="collapse collapse-cstyle" id="collapseExample">
        <div class="card card-body card-cstyle" >
          <form action="/instrutor" method="POST">

            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <label class="form-label label-cstyle" for="nome1">Nome</label>
                  <input type="text" id="nome1" class="form-control" name="nome" />
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <label class="form-label label-cstyle" for="nome2">Sobrenome</label>
                  <input type="text" id="nome2" class="form-control" name="sobrenome"/>
                </div>
              </div>
            </div>
          
            <div class="form-outline mb-4">
              <label class="form-label label-cstyle" for="email_input">Email</label>
              <input type="email" id="email_input" class="form-control" name="email"/>
            </div>

            <div class="form-outline mb-4">
              <label class="form-label label-cstyle" for="cpf_input">CPF</label>
              <input type="text" id="cpf_input" class="form-control" name="cpf"/>
            </div>

            <div class="form-outline mb-4">
              <label class="form-label label-cstyle" for="formacao_input">Formação</label>
              <input type="text" id="formacao_input" class="form-control" name="formacao"/>
            </div>
          
            <div class="form-outline mb-4">
              <label class="form-label label-cstyle" for="senha_input">Senha</label>
              <input type="password" id="senha_input" class="form-control" name="senha"/>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label label-cstyle" for="flexCheckDefault">
                  Concordo com os termos.
                </label>
            </div>

            <div class="text-center"><button type="submit" class="btn btn-primary btn-block mb-4 button-cstyle">inscrever-se</button></div>
          
          </form>
        </div>
      </div>

      <div class="collapse collapse-cstyle" id="collapsealuno">
        <div class="card card-body card-cstyle" >
          <form action="/aluno" method="POST">

            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <label class="form-label label-cstyle" for="nome1">Nome</label>
                  <input type="text" id="nome1" class="form-control" name="nome"/>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <label class="form-label label-cstyle" for="nome2">Sobrenome</label>
                  <input type="text" id="nome2" class="form-control" name="sobrenome"/>
                </div>
              </div>
            </div>
          
            <div class="form-outline mb-4">
              <label class="form-label label-cstyle" for="email_input">Email</label>
              <input type="email" id="email_input" class="form-control" name="email"/>
            </div>

            <div class="form-outline mb-4">
              <label class="form-label label-cstyle" for="cpf_input_aluno">CPF</label>
              <input type="text" id="cpf_input_aluno" class="form-control" name="cpf"/>
            </div>

            <label class="form-label label-cstyle interesses-label-cstyle" for="interesses_input">Interesses</label>
            <div class="container text-center interesses-cstyle" id="interesses_input">
              <div class="row p-2">
                <div class="col">
                  <button type="button" class="btn btn-light">Treino completo</button>
                </div>
                <div class="col">
                  <button type="button" class="btn btn-light">Alongamento</button>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-light">Calistenia</button>
                </div>
                <div class="col">
                  <button type="button" class="btn btn-light">Ioga</button>
                </div>
                <div class="col">
                  <button type="button" class="btn btn-light">Pilates</button>
                </div>
              </div>
            </div>
            

            <div class="form-outline mb-4">
              <label class="form-label label-cstyle" for="senha_input">Senha</label>
              <input type="password" id="senha_input" class="form-control" name="senha"/>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label label-cstyle" for="flexCheckDefault">
                  Concordo com os termos.
                </label>
            </div>

            <div class="text-center"><button type="submit" class="btn btn-primary btn-block mb-4 button-cstyle">inscrever-se</button></div>
          
          </form>
        </div>
      </div>
    </div>