<div class="bg"></div>
    <!-- Navbar -->
    <nav class="nav-cstyle navbar navbar-expand-lg navbar-light bg-light d-flex align-items-center">
    <!-- Container wrapper -->
      <div class="container-fluid ">
        <!-- Toggle button -->
        <!-- Collapsible wrapper -->
        <a class="navbar-brand mt-2 mt-lg-0 " href="#">
          <img class=""
          src="/images/logo-colors.png"
            width="130px"
            alt="TomorrowFitnessLogo"
            loading="lazy"
          />
        </a>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
        <div class="d-flex align-items-center align-middle">
          <form action="#" method="post" class="form-inline my-2 my-md-0">
            <input class="form-control" type="text" placeholder="Search">
          </form>
          <!-- Icon -->
          <a class="text-reset me-3" href="#">
            <i class="fas fa-shopping-cart"></i>
          </a>
          <!-- Avatar -->
          <div class="btn-group">
            <button type="button" class="btn btn-secondary rounded-circle button-cstyle2 m-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <button class="dropdown-item" type="button">Perfil</button>
              <button class="dropdown-item" type="button">Assinaturas</button>
              <button class="dropdown-item" type="button">Sair</button>
            </div>
          </div>
        </div>
        <!-- Right elements -->
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    <div class="container card_grid">
      <div class="container">
        <div class="row">
          <div class="col-md  mb-3">
            <div class="card" style="width: 18rem;">
              <img src="/images/curso_ex.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Curso 01</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="#" class="btn btn-primary button-cstyle">Ver Mais</a>
              </div>
            </div>
          </div>
          <div class="col-md mb-3">
            <div class="card" style="width: 18rem;">
              <img src="/images/curso_ex.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Curso 01</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="#" class="btn btn-primary button-cstyle">Ver Mais</a>
              </div>
            </div>
          </div>
          <div class="col-md mb-3">
            <div class="card" style="width: 18rem;">
              <img src="/images/curso_ex.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Curso 01</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="#" class="btn btn-primary button-cstyle">Ver Mais</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md mb-3">
            <div class="card" style="width: 18rem;">
              <img src="/images/curso_ex.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Curso 01</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="#" class="btn btn-primary button-cstyle">Ver Mais</a>
              </div>
            </div>
          </div>
          <div class="col-md mb-3">
            <div class="card" style="width: 18rem;">
              <img src="/images/curso_ex.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Curso 01</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="#" class="btn btn-primary button-cstyle">Ver Mais</a>
              </div>
            </div>
          </div>
          <div class="col-md mb-3">
            <div class="card" style="width: 18rem;">
              <img src="/images/curso_ex.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Curso 01</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="#" class="btn btn-primary button-cstyle">Ver Mais</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>