<div class="bg"></div>
    <!-- Navbar -->
    <nav class="nav-cstyle navbar navbar-expand-lg navbar-light bg-light d-flex align-items-center">
    <!-- Container wrapper -->
      <div class="container-fluid ">
        <!-- Toggle button -->
        <!-- Collapsible wrapper -->
        <a class="navbar-brand mt-2 mt-lg-0 " href="#">
          <img class=""
          src="/images/logo-colors.png"
            width="130px"
            alt="TomorrowFitnessLogo"
            loading="lazy"
          />
        </a>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
        <div class="d-flex align-items-center align-middle">
          <form action="#" method="post" class="form-inline my-2 my-md-0">
            <input class="form-control" type="text" placeholder="Pesquisar">
          </form>
          <!-- Icon -->
          <a class="text-reset me-3" href="#">
            <i class="fas fa-shopping-cart"></i>
          </a>
          <!-- Avatar -->
          <div class="btn-group">
            <button type="button" class="btn btn-secondary rounded-circle button-cstyle2 m-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </button>

            <div class="dropdown-menu dropdown-menu-right">
              <a href="/perf_ins" class="dropdown-item" type="button">Perfil</a>
              <a href="/perf_alu" class="dropdown-item" type="button">Assinaturas</a>
              <a href="/login" class="dropdown-item" type="button">Sair</a>
            </div>
          </div>
        </div>
        <!-- Right elements -->
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    <div class="container card_grid">
      <div class="container">
        <div class="row">
          <div class="col-md  mb-3">
            <div class="card" style="width: 18rem;">
              <img src="/images/HIIT_ex.jpg" class="card-img-top" alt="Treino HIIT" style="height: 113px; filter: grayscale(100%);">
              <div class="card-body">
                <h5 class="card-title" style="font-weight: bold">HIIT</h5>
                <p class="card-text">High Intensity Interval Training (Treinamento Intervalado de Alta Intensidade).</p>
                <a href="#" class="btn btn-primary button-cstyle">Ver Mais</a>
              </div>
            </div>
          </div>
          <div class="col-md mb-3">
            <div class="card" style="width: 18rem;">
              <img src="/images/musculacao_ex.jpg" class="card-img-top" alt="Treino Musculação" style="height: 113px; filter: grayscale(100%);">
              <div class="card-body">
                <h5 class="card-title" style="font-weight: bold">Musculação</h5>
                <p class="card-text">Uma alta intensidade com cargas e combinar exercícios que sejam sinergistas.</p>
                <a href="#" class="btn btn-primary button-cstyle">Ver Mais</a>
              </div>
            </div>
          </div>
          <div class="col-md mb-3">
            <div class="card" style="width: 18rem; height: 100%">
              <img src="/images/fitdance_ex.webp" class="card-img-top" alt="FitDance" style="height: 113px; filter: grayscale(100%);">
              <div class="card-body">
                <h5 class="card-title"style="font-weight: bold">Fit Dance</h5>
                <p class="card-text">Ótima alternativa para quem quer um exercício intenso e rápido.</p>
                <a href="#" class="btn btn-primary button-cstyle" style="margin-top: 12.5%">Ver Mais</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md mb-3">
            <div class="card" style="width: 18rem;">
              <img src="/images/funcional_ex.jpg" class="card-img-top" alt="Treino Funcional" style="height: 113px; filter: grayscale(100%);">
              <div class="card-body">
                <h5 class="card-title" style="font-weight: bold">Treino Funcional</h5>
                <p class="card-text">Modalidade dinâmica, com exercícios integrados de alto gasto calórico.</p>
                <a href="#" class="btn btn-primary button-cstyle">Ver Mais</a>
              </div>
            </div>
          </div>
          <div class="col-md mb-3">
            <div class="card" style="width: 18rem;">
              <img src="/images/calistenia_ex.jpg" class="card-img-top" alt="Calistenia" style="height: 113px; filter: grayscale(100%);">
              <div class="card-body">
                <h5 class="card-title" style="font-weight: bold">Calistenia</h5>
                <p class="card-text">Treinamento cujo objetivo é promover a resistência muscular de forma natural.</p>
                <a href="#" class="btn btn-primary button-cstyle">Ver Mais</a>
              </div>
            </div>
          </div>
          <div class="col-md mb-3">
            <div class="card" style="width: 18rem;">
              <img src="/images/crossfit_ex.jpg" class="card-img-top" alt="CrossFit" style="height: 113px; filter: grayscale(100%);">
              <div class="card-body">
                <h5 class="card-title" style="font-weight: bold">CrossFit</h5>
                <p class="card-text">Atividade de alta intensidade com diversos benefícios para a saúde.</p>
                <a href="#" class="btn btn-primary button-cstyle" style="margin-top: 12%">Ver Mais</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>