<div class="fitness-logo d-flex justify-content-center">
      <a href=""><img style="width: 200px;" src="/images/logo-colors.png"></a>
    </div>
    <div class="d-flex justify-content-center">
      <p class="login-title">LOGIN</p>
    </div>
    <div class="card-cstyle mx-auto p-2 d-flex justify-content-center">
        <div class="card card-body card-cstyle" >
            <form action="/home" method="GET">
              <!-- Email -->
              <div class="form-outline mb-4">
                <input type="email" id="email_input" class="form-control" />
                <label class="form-label label-cstyle" for="email_input">Email</label>
              </div>
            
              <!-- Password -->
              <div class="form-outline mb-4">
                <input type="password" id="senha_input" class="form-control" />
                <label class="form-label label-cstyle" for="senha_input">Senha</label>
              </div>
              <!-- Submit button -->
              <div class="text-center "><button type="submit" class="btn btn-primary btn-block mb-4 button-cstyle">Entrar</button></div>
              <div class="d-flex justify-content-between">
                <a href="/cadastro"><p class="login_options">Criar nova conta.</p></a>
                <a href=""><p class="login_options">Esqueci a senha.</p></a></div>
              
            </form>
        </div>
    </div>