<div class="bg"></div>

    <!-- Navbar -->
    <nav class="nav-cstyle navbar navbar-expand-lg navbar-light bg-light d-flex align-items-center" style="background-color: rgb(11, 11, 19)!important;">
      <!-- Container wrapper -->
      <div class="container-fluid ">
        <!-- Toggle button -->
        <!-- Collapsible wrapper -->
        <a class="navbar-brand mt-2 mt-lg-0 " href="/home">
          <img class=""
          src="/images/logo-colors.png"
            width="130px"
            alt="TomorrowFitnessLogo"
            loading="lazy"
          />
        </a>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
        <div class="d-flex align-items-center align-middle">
          <form class="form-inline my-2 my-md-0">
            <input class="form-control" type="text" placeholder="Pesquisar">
        </form>
          <!-- Icon -->
          <a class="text-reset me-3" href="#">
            <i class="fas fa-shopping-cart"></i>
          </a>
          <!-- Avatar -->
          <div class="btn-group">
            <button type="button" class="btn btn-secondary rounded-circle button-cstyle2 m-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="/perf_ins" class="dropdown-item" type="button">Perfil</a>
              <a href="/perf_alu" class="dropdown-item" type="button">Assinaturas</a>
              <a href="/login" class="dropdown-item" type="button">Sair</a>
            </div>
          </div>
        </div>
        <!-- Right elements -->
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
        
    <section class="h-100 ">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-lg-9 col-xl-7" >
            <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0" style="margin-left: 15px; color: rgb(255, 255, 255)">Perfil do aluno</p>
            </div>
            <div class="card" style="background-color: rgb(11, 11, 19); ">
              <div class="rounded-top text-white d-flex flex-row" style="background-color: rgb(237, 47, 89); height: 225px; border-radius: 10px;">
                <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                  <img src="https://www.thefitnessgrp.co.uk/wp-content/uploads/2022/11/KR-FITNESS-GROUP34.jpeg"
                    alt="Generic placeholder image" class="rounded-circle img-fluid  mt-4 mb-2"
                    style="width: 150px; z-index: 1;">
                  <a href="/editar_perfil" type="button" class="btn btn-outline-dark button-cstyle" data-mdb-ripple-color="dark"
                    style="z-index: 1; margin-top: 30%;">
                    Editar perfil
                  </a>
                </div>
                <div class="ms-3" style="margin-top: 6%; padding-left: 2%">
                  <h4>Nome:</h4>
                  <h5>- Maria Matos Matoso Marciel</h5>
                  <h4 style="padding-top: 10px;">Formação:</h4>
                  <p>- Adquirir o shape perfeito</p>
                </div>
              </div>
              <div class="p-4 text-white">
                <div class="d-flex justify-content-end text-center py-1">
                  <div class="px-3">
                    <p class="mb-1 h5">4</p>
                    <p class="small text-muted mb-0" style="color: white !important;">Assinaturas</p>
                  </div>
                </div>
              </div>
              <div class="card-body p-4 text-white">
                
                <div class="d-flex justify-content-between align-items-center mb-4">
                  <p class="lead fw-normal mb-0">Assinaturas</p>
                </div>

                <div class="row g-2">
                  <div class="col mb-2 curso-fade">
                    <img src="/images/musculacao_ex.jpg"
                      alt="image 1" class="w-100 rounded-3" style="height: 100%">
                    <div class="middle fade-1">
                      <div class="text" style="background-color: rgb(237, 47, 89); border-radius: 10px; font-weight: bold;">Musculação</div>
                    </div>
                  </div>

                  <div class="col mb-2 curso-fade">
                    <img src="/images/calistenia_ex.jpg"
                      alt="image 1" class="w-100 rounded-3" style="height: 100%">
                    <div class="middle fade-2">
                      <div class="text" style="background-color: rgb(237, 47, 89); border-radius: 10px; font-weight: bold;">Calistenia</div>
                    </div>
                  </div>
                </div>

                <div class="row g-2">
                  <div class="col curso-fade">
                    <img src="/images/fitdance_ex.webp"
                      alt="image 1" class="w-100 rounded-3" style="height: 100%">
                    <div class="middle fade-3">
                      <div class="text" style="background-color: rgb(237, 47, 89); border-radius: 10px; font-weight: bold;">FitDance</div>
                    </div>
                  </div>

                  <div class="col curso-fade">
                    <img src="/images/HIIT_ex.jpg"
                      alt="image 1" class="w-100 rounded-3" style="height: 100%">
                    <div class="middle fade-4">
                      <div class="text" style="background-color: rgb(237, 47, 89); border-radius: 10px; font-weight: bold;">HIIT</div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>