/*RESET*/
*{margin: 0; padding: 0; font-size: 100%;font-family: 'PT Sans', sans-serif;
    box-sizing: border-box; border: none; outline: none;}
  img {max-width: 100%;}
  ul{list-style: none;}
  a{text-decoration: none !important;}

body{background-color: rgb(28, 25, 44);}
h1{
    font-family: 'Roboto', sans-serif;
    color: white;
}

.navbar{
  background-color: rgb(11, 11, 19) !important;
}
.logo{
  width: 150px !important;
}
.button-cstyle2{
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: white;
}

.nav-cstyle{
  border-bottom: 1px solid rgb(22, 22, 22) !important;
}



.button-cstyle{
  color: white;
  background-color: rgb(237, 47, 89) !important; 
  border: none !important;
  
}
.button-cstyle:hover{
  color: white !important;
  background-color: rgb(194, 33, 68) !important;  
  border: none !important;
}

.middle {
  transition: .8s ease;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.fade-1 {
  top: 54%;
  left: 25%;
}

.fade-2 {
  top: 54%;
  left: 75%;
}

.fade-3 {
  top: 84%;
  left: 25%;
}

.fade-4 {
  top: 84%;
  left: 75%;
}

.curso-fade:hover img {
  opacity: 0.3;
  transition: .3s ease;
}

.curso-fade:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}